html{
	background: url("Pictures/asian5.jpg") center no-repeat;
	background-size: cover;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	min-width: 640px;
	height: 100%;
	min-height: 960;
}

body{
	margin-left: auto;
	margin-right: auto;
	border-radius: 20px;
	width: 80%;
	height: 100%;
}


p.title{
	font-size: 45px;
	font-family: Comic Sans MS, cursive, sans-serif;
	font-weight: bolder;
	color: black;
	text-align: center;
}

#sidebar{
	margin-left: auto;
	margin-top: auto;
	margin-bottom: auto;
	width: 20%;
	height: 100%;
	float: left;
	background-color: rgba(172, 131, 89, .5);
	text-align: center;
	border-radius: 20px;

}

p.sidebar{
	margin-top: 30px;
	margin-bottom: 30px;
	font-weight: bolder;
	font-size: 24px;
	font-family: Comic Sans MS, cursive, sans-serif;
	padding: 10%;
}

a.sidebar{
	text-decoration: none;
	color: red;
}
a.sidebar:hover{
	text-decoration: underline;
	color: blue;
}

div.body{
	background-color: blue;
	background-size: 100%, 100%;
}