html{
	background: url("Pictures/asian2.jpg") center fixed;
	background-size: cover;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	min-width: 640px;
	height: 100%;
	min-height: 960;
}

body{
	background-color: rgba(206, 206, 206, .6);
	margin-left: auto;
	margin-right: auto;
	border-radius: 20px;
	width: 80%;
	height: 100%;
}

div.title{
	margin-left: 25%;
	width: 50%;
	height: 5%;
}

p.title{
	font-size: 32px;
	font-family: cursive;
	font-weight: bolder;
	color: orange;
	text-align: center;
	border: 10px;
	background-color: red;
}

#sidebar{
	margin-left: auto;
	margin-top: auto;
	margin-bottom: auto;
	width: 20%;
	height: 100%;
	float: left;
	background-color: cyan;
	text-align: center;
	border-radius: 20px;

}

p.sidebar{
	margin-top: 30px;
	margin-bottom: 30px;
	font-weight: bolder;
	font-size: 24px;
	font-family: cursive;
	padding: 10%;
}

a.sidebar{
	text-decoration: none;
	color: red;
}
a.sidebar:hover{
	text-decoration: underline;
	color: blue;
}

div.body{
	background-color: blue;
	background-size: 100%, 100%;
}